#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #999;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #605CA8;
	border-radius:7px;
	width:550px;
	z-index: 10;
}
#dialogbox > div{ background:#605CA8; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #605CA8; font-size:19px; padding:10px; color:#FFF; font-size: 150%;}
#dialogbox > div > #dialogboxbody{ background:#FFF; padding:20px; color:#333; font-size: 150%;}
#dialogbox > div > #dialogboxfoot{ background: #FFF; padding:10px; text-align:right; font-size: 150%;}