<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
	<title>Yitchi</title>
	<link href="{% static "css/skins/skin-purple.min.css" %}" rel="stylesheet">
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "css/AdminLTE.min.css" %}" rel="stylesheet">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
</head>
<body class="hold-transition skin-purple layout-top-nav">
	<div class="skin-purple">
		<div class="wrapper">

			<header class="main-header">
				<nav class="navbar navbar-static-top">
					<div class="container-fluid">
						<div class="navbar-header">
							<a href="/" class="navbar-brand"><b>Yitchi</b>Profile</a>
						</div>
					</div><!-- /.container-fluid -->
				</nav>
			</header>
		</div>
	</div>
	<!-- Jquery -->
	<script src="{% static "js/jquery-2.1.4.min.js" %}"></script>

	<!-- Bootstrap 3.3.5 -->
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/AdminLTE.min.js" %}"></script>

	<!-- SlimScroll -->
	<script src="{% static "js/plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
	<script src="{% static "js/plugins/fastclick/fastclick.min.js" %}"></script>

</body>
</html>

